<?xml version="1.0"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="proverinterface.ProverInterface"/>
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
    <listEntry value="4"/>
  </listAttribute>
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="kems.prover"/>
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
    <listEntry value="/kems.prover"/>
  </listAttribute>
</launchConfiguration>