c Formulas: [0 ((1+_n-(2)+_n3)*_n*FALSE**_n1*_n(2+-(3))*_n(3+_n1+_n-(2)))]
c FormulaFactory: Formula Factory:{1=1, 2=2, 3=3}{(3+_n1+_n-(2))=(3+_n1+_n-(2)), -(3)=-(3), (2+-(3))=(2+-(3)), (1+_n-(2)+_n3)=(1+_n-(2)+_n3), *FALSE*=*FALSE*, ((1+_n-(2)+_n3)*_n*FALSE**_n1*_n(2+-(3))*_n(3+_n1+_n-(2)))=((1+_n-(2)+_n3)*_n*FALSE**_n1*_n(2+-(3))*_n(3+_n1+_n-(2))), -(2)=-(2)}
c SignedFormulaFactory: [0 ((1+_n-(2)+_n3)*_n*FALSE**_n1*_n(2+-(3))*_n(3+_n1+_n-(2)))]
p cnf 3 2
1 -2 3 0 0
1 0 2 -3 0 3 
1 -2
